<div fxLayoutAlign="center center" fxFlexFill class="login-form">
	<mat-card fxFlex="25">
		<mat-toolbar>
		  <span>HakunaMatata Login</span>
		</mat-toolbar>
		<form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" 
			(ngSubmit)="loginProcess()">
		  <mat-form-field>
		    <input matInput placeholder="Email" formControlName="email">
		  </mat-form-field>
		
		  <mat-form-field>
		    <input matInput type="password" placeholder="Password" formControlName="password">
		  </mat-form-field>
		  <button mat-flat-button color="accent" type="submit">Login</button>
		</form>

	</mat-card>
</div>
