/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { 
  background-color: #424242;
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif; 
}

